---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="All articles"
      description="Explore the thoughts and experiences of software engineer and indie hacker, Seb Toombs, on his blog. Specializing in SME websites, startups, and fintech, Seb shares his knowledge and journey through his articles. Follow his work and learn from his projects and insights in the blog section of his website."
    />
  </head>
  <body>
    <Header />
    <Container>
      <h2 class="text-3xl font-medium mb-8">All posts</h2>
      <main>
        <section>
          <ul>
            {
              posts.map((post) => (
                <li class="my-12 first:mt-0 last:mb-0">
                  <h3 class="text-2xl mb-4">
                    <span class="font-medium border-b-4 border-pink-500">
                      <a href={post.url}>{post.frontmatter.title}</a>
                    </span>
                  </h3>
                  <p class="text-lg mb-4">{post.frontmatter.description}</p>
                  <a href={post.url} class="text-pink-500 hover:text-pink-600">
                    Read full article
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </main>
    </Container>
    <Footer />
  </body>
</html>
