---
import { Image } from "@astrojs/image/components";
---

<span class="block w-12 h-12 rounded-full overflow-hidden">
  <Image
    src="/profile-2021-02.png"
    format="png"
    quality="70"
    width="64"
    aspectRatio="1"
    alt="Seb Toombs profile picture"
    class="w-full h-full object-cover"
    role="presentation"
    aria-hidden="true"
  />
</span>
